.bill {
    position: absolute;
    width: 280px; /* Были 120px, стали большими */
    opacity: 0.5;
    filter: blur(2px);
    animation: float 10s ease-in-out infinite;
    z-index: 1;
}

/* Раскидываем по углам, чтобы не мешали тексту */
.b1 { top: -5%; left: -5%; transform: rotate(-15deg); }
.b2 { bottom: 5%; left: 2%; transform: rotate(10deg); animation-delay: 2s; }
.b3 { top: 10%; right: -5%; transform: rotate(20deg); animation-delay: 1s; }
.b4 { bottom: -5%; right: 5%; transform: rotate(-10deg); animation-delay: 3s; }
